<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{
			margin: 0px;
			padding:0;
		}
		div{
			border: red 1px solid;
		}
		.container div{
			width: 200px;
		}
		.container{
			width: 500px;
			border: blue 2px solid;
		}
		._left{
			float: left; 
			margin-left: 10px;
			margin-top: 10px;
		}

	</style>
</head>
<body>
	<div class="container">
		<div class="_left">455555555556</div>
		
		<div class="_left">middle</div>
		
		<div class="_left">_right</div>

		<div class="_left"><img src="../public/images/logo.png" style="height:200px;"></div>
		
		<div class="_left">middle</div>
		
		<div class="_left">_right</div>
		
		
	</div>


</body>
</html>